.header__logo {
    z-index: 2;
    margin: 0;
    width: 142px;
}

@media (min-width: 425px) {
    .header__logo {
      width: 160px;  
    }
}

@media (min-width: 768px) {
    .header__logo {
      width: 176px;  
    }
}
