.header {
    width: 100%;
    min-height: 58px;
    padding: 16px 16px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 425px) {
    .header {
        min-height: 64px;
        padding: 20px 20px 0;
    }
}

@media (min-width: 768px) {
    .header {
        min-height: 80px;
        padding: 28px 24px 0;
    }
}

@media (min-width: 1024px) {
    .header {
        min-height: 80px;
        padding: 28px 48px 0;
    }
}
