.footer__author {
    padding-top: 48px;
    margin: 0;
    line-height: 14px;
    font-size: 14px;
    font-style: normal;
    padding-bottom: 24px;
}

@media (min-width: 768px) {
    .footer__author {
        padding: 0;
        padding-bottom: 24px;
        min-width: 186px;
        line-height: 16px;
    }
}