.page__photo {
    margin: auto;
    margin-top: 64px;
    width: 90%;
}

@media (min-width: 768px) {
    .page__photo {
        margin: 88px 24px 0;
        width: auto;
    }
}

@media (min-width: 1024px) {
    .page__photo {
        margin: 92px 48px 0;
        width: auto;
    }
}