.page__photo {
    margin: auto;
    padding-top: 64px;
    max-width: 1184px;
}

@media (min-width: 768px) {
    .page__photo {
        padding: 88px 24px 0;
    }
}

@media (min-width: 1024px) {
    .page__photo {
        padding: 92px 48px 0;
    }
}