.place__paragraph {
    margin: auto;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    width: 90%;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .place__paragraph {
        width: auto;
    }
}

@media (min-width: 1024px) {
    .place__paragraph {
        padding-bottom: 26px;
        margin: 0;
        font-size: 18px;
        line-height: 29px;
    }
}