.place__paragraph {
    margin: auto;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    width: 90%;
}

.place__paragraph:nth-of-type(2n) {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .place__paragraph {
        width: auto;
    }

    .place__paragraph:nth-of-type(2n) {
        margin-bottom: 0;
    }
}