.lead__image {
    min-height: 200px;
    margin: 40px 0 8px;
}

@media (min-width: 425px) {
    .lead__image {
        min-height: 250px;
        left: 0;
        margin: 42px 0 8px;
    }
}

@media (min-width: 768px) {
    .lead__image {
        min-height: 480px;
        margin-top: 56px;
    }
}

@media (min-width: 1024px) {
    .lead__image {
        width: 928px;
        min-height: 580px;
        margin: 56px 48px 8px;
    }
}

@media (min-width: 1280px) {
    .lead__image {
        width: 984px;
        height: 615px;
        margin: 64px 148px 8px;
    }
}