.menu__item {
    text-decoration: underline;
    color:white;
    font-size: 18px;
    line-height: 20px;
    padding-top: 30px;
}

.menu__item:last-child {
    text-decoration: none;
    padding-left: 18px;
}

@media (min-width: 425px) {
    .menu__item {
        font-size: 20px;
        line-height: 24px;
        padding-top: 36px;
    }  
}

@media (min-width: 768px) {
    .menu__item {
        font-size: 24px;
        line-height: 28px;
        padding-top: 46px;
    }  
}

