.intro {

}


@media (min-width: 1024px) {
    .intro {
        margin-left: 48px;
        margin-right: 286px;
    }
}

@media (min-width: 1280px) {
    .intro {
        margin-left: 148px;
        margin-right: 442px;
    }
}