.lead__subtitle {
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    margin: auto;
    width: 90%;
}

@media (min-width: 425px) {
    .lead__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (min-width: 768px) {
    .lead__subtitle {
        margin: 0 64px 0;
        font-size: 30px;
        line-height: 36px;
        width: auto;
    }
}

@media (min-width: 1024px) {
    .lead__subtitle {
        margin: 0 192px 0;
    }
}

@media (min-width: 1280px) {
    .lead__subtitle {
        margin: 0 320px 0;
    }
}