.place__link {
    color: white;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-family: 'Inter';
    font-style: normal;
    text-decoration: underline;
    margin: 12px 16px 32px;
}
