.page__places {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .page__places {
        margin-left: 24px;
        margin-right: 24px;
        width: auto;
        margin-top: 88px;
    }
}

@media (min-width: 1024px) {
    .page__places {
        margin-left: 48px;
        width: auto;
        margin-top: 92px;
        margin-right: 48px;
    }
}