.page__places {
    max-width: 320px;
    margin: 0 auto;
}

@media (min-width: 425px) {
    .page__places {
        max-width: 425px;
    }
}

@media (min-width: 768px) {
    .page__places {
        margin-top: 88px;
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .page__places {
        max-width: 928px;
        margin-top: 92px;
    }
}

@media (min-width: 1280px) {
    .page__places {
        max-width: 984px;
    }
}