.lead__caption {
    margin: 0;
    text-transform: uppercase;
    margin-left: 16px;
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: start;
}

@media (min-width: 425px) {
    .lead__caption {
        margin-left: 18px;
    }
}

@media (min-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (min-width: 1024px) {
    .lead__caption {
        margin-left: 48px;
        min-width: 158px;
    }
}

@media (min-width: 1280px) {
    .lead__caption {
        margin-left: 148px;
    }
}