.place {
    margin-top: 50px;
}

.place:first-child {
    margin-top: 0;
} 

@media (min-width: 768px) {
    .place {
        margin: 0;
        margin-top: 73px;
        display: grid;
        grid-template-columns: 340px 352px;
        grid-auto-rows: minmax(12px, auto);
        column-gap: 28px;
        grid-template-areas: 
        "place__title place__URL-heading"
        "place__title place__link"
        "place__image place__paragraph"
        "place__image place__paragraph";
    }

    .place:first-child {
        margin-top: 88px;
    }
}