.page__footer {
    margin: 64px auto 0 auto;
    padding: 0 16px;
}

@media (min-width:  768px) {
    .page__footer {
        margin: 88px 24px 0;
        padding: 0;
    }
}

@media (min-width:  1024px) {
    .page__footer {
        margin: 94px 48px 0;
        max-width: 100%;
    }
}

@media (min-width:  1024px) {
    .page__footer {
        margin: 92px 48px 0;
    }
}