.place__url {
    margin: auto;
    margin-top: 32px;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
    font-weight: normal;
    color: #AAAAAA;
    width: 90%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
   .place__url {
        margin: 0;
        width: auto;
   }
}